.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
  margin-left: -20px; }

.App-title {
  height: 50px;
  float: left;
  margin-left: -10px; }
  .App-title * {
    margin: 4px 0 0 0;
    text-align: left; }

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large;
  color: white; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#bg-cover {
  position: fixed;
  top: 10vh;
  left: 0;
  min-width: 100vw;
  max-height: 100vh;
  z-index: -100;
  filter: brightness(40%) blur(2.5px); }
