.App {
  text-align: center;
}

.App-header {
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
  margin-left: -20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-title {
  z-index: 200;
  height: 50px;
  float: left;
  margin-left: -10px;
  * {
    margin: 4px 0 0 0;
    text-align: left;
  }
}

.App-nav {

}

.App-body {
  padding: 0 20px;
  color: white;
}

.about {
  color: white;
  // padding: 0 15px;
  font-size: 90%;
}

.projects {
  background-color: white;
  color: black;
  width: 100vw;
  min-height: 100vh;
  padding-top: 5vh;
  margin: 0 -20px;
}

.separator {
  background-image: image-url('../public/separator.png');
  background: image-url('../public/separator.png');
  height: 9px;
  // background-color: blue;
  z-index: 2;
}

#bg-cover {
  margin-top: -8vh;
    position: fixed;
    top: 000%;
    left: 0;
    min-width: 100vw;
    height: 108vh;
    z-index: -100;
    filter: brightness(50%) blur(2.5px);
}

@media screen and (min-width: 480px) {
   .App-header, .App-body {
    padding: 20px 15vw;
  }
  .projects {
    // padding: 0 -15vw;
    margin: 0 -15vw;
    width: 100vw;
    min-height: 50vh;
  }
}
