.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
  margin-left: -20px;
  // z-index: -2000;
}

.App-title {
  z-index: 200;
  height: 50px;
  float: left;
  margin-left: -10px;
  * {
    margin: 4px 0 0 0;
    text-align: left;
  }
}

.App-header {
  height: 10vh;
  padding: 20px;
  color: white;
}
.top {
  height: 10vh;
  padding: 20px;
  position: absolute;
  z-index: -1;
  width: 100%;
  background: linear-gradient(to top, rgba(180,180,180,0), rgba(34,34,34,1)); /*Standard*/
}

.App-intro {
  font-size: large;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    // max-width: 1px;
    min-width: 100vw;
    max-height: 100vh;
    z-index: -100;
    filter: brightness(40%) blur(2.5px);
}
